@model IEnumerable<LinkShortener.Models.LinkShortenerModel>
@{
    ViewBag.Title = "URL Shortener";
}

<h2>Create</h2>


@foreach (var item in Model)
{
    @item.Name <br/>
    @item.ShortURL<br/>
    @item.URL<br />
    @item.Description<br/>
}
