@{
    ViewBag.Title = "URL Shortener";
}

<h2>Create</h2>

<form>
    <label>Site Name:</label><input type="text" id="SiteName"/><br />
    <label>URL:</label><input type="text" id="URL"/><br />
    <label>Description:</label><textarea id="Description" />
</form>
