<html>
    <head>
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/Content/CSS/bootstrap.css"/>
        <link rel="stylesheet" href="~/Content/CSS/bootstrap-responsive.css"/>
        <link href="~/Content/CSS/site.css" rel="stylesheet" />
        @* Add jQuery and Bootstrap JS to insure it is loaded on every page *@
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="/Content/Scritps/bootstrap.js"></script>
        <script type="text/javascript" src="/Content/Scritps/dataTables.min.js"></script>
        </head>
    <body>
        <header>
           <div class="navbar">
              <div class="navbar-inner">
                <a class="brand" href="/">J Wal URL Shortener</a>
              </div>
            </div>
        </header>
        <section>
            <div class="row-fluid">
                <div class="span10 offset1">
                    @RenderBody()
                </div>
            </div>
        </section>
        
        
        @RenderSection("Scripts", required:false)
    </body>
</html>