<html>
    <head>
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/Content/CSS/bootstrap.css"/>
        <link rel="stylesheet" href="~/Content/CSS/bootstrap-responsive.css"/>

    </head>
    <body>
        <header>
           <div class="navbar">
              <div class="navbar-inner">
                <a class="brand" href="/">J Wal URL Shortener</a>
                <ul class="nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="/url/create">Create</a></li>
                </ul>
              </div>
            </div>
        </header>
        <section>
            <div class="row-fluid">
                <div class="span10 offset1">
                    @RenderBody()
                </div>
            </div>
        </section>
        
        @* Add jQuery and Bootstrap JS to insure it is loaded on every page *@
        <script type="text/javascript" src="~/Content/Scritps/jquery.js" ></script>
        <script type="text/javascript" src="~/Content/Scritps/bootstrap.js"></script>
        @RenderSection("Scripts", required:false)
    </body>
</html>